h1 {
    color : rgb(16, 7, 66);
    background-color: antiquewhite;
    border: 3px solid black;
    font :
    1em/150% Helvetica,
    Arial,
    sans-serif;
  padding: 1em;
  margin: 0 auto;
  max-width: 33em;
}

body {
    background-color: rgb(231, 221, 240);
    font:
      1em/150% Helvetica,
      Arial,
      sans-serif;
    padding: 1em;
    margin: 0 auto;
    max-width: 33em;
  }
  @media (min-width: 30em) {
    body {
        background-color: beige;
    }
  }
  span {
    color : red;
  }
  strong{
    border-radius: 5px;
    color : blue;
  }
  .special{
    font-weight: lighter;
    color: rgb(118, 168, 211);
  }
  
a:link, a:visited {
  color: #fb6542;
}

a:hover {
  text-decoration: none;
}