body{
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.5s;
}

#myButton {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button inline */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 4px; /* Rounded corners */
}
#myButton :hover {
background-color: #260bad;
}

#myButton2 img {
    width: 50px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below the image */
}
.top{
    display : flex;
    justify-content: space-between;
    
    width: 100%;
    
}
