body{
    
}

footer{
    color: pink;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.card{
    border-color: aqua;
    margin: 1em;
    padding: 1em;
    font-weight: lighter;
    border : 1px solid grey;
    max-width : 400px;
    
}

#username{
    font-weight: bolder;
}

.deets{
    border : 1px solid blue;
    font-size: medium;
    font-weight: 100;
    cursor: pointer;

}